.feedback-page {
    min-height: 100vh;

    padding: 70px 20px;

    background:
        linear-gradient(
            rgba(250, 243, 225, 0.95),
            rgba(250, 243, 225, 0.95)
        );

    box-sizing: border-box;
}

.feedback-container {
    max-width: 900px;

    margin: auto;

    text-align: center;
}

.feedback-container h1 {
    margin-bottom: 10px;

    font-family: Georgia, serif;

    color: #4a2412;

    font-size: 2.5rem;
}

.feedback-container p {
    color: #76553c;

    font-size: 1.1rem;
}